// OVERRIDES OF DEFAULT BOOTSTRAP CARD-DECK BEHAVIORS
.card-deck {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    flex: 1 0 0%;

    .card {
        margin-bottom: $card-deck-margin;
    }

    @include media-breakpoint-up(md) {
        flex-flow: row wrap;
        margin-right: -$card-deck-margin;
        margin-left: -$card-deck-margin;

        .card {
            display: flex;
            flex: 1 0 0%;
            flex-direction: column;
            margin-right: $card-deck-margin;
            margin-bottom: 0; // Override the default
            margin-left: $card-deck-margin;
        }
    }
}


.hover-card {
    border: 1px solid $alto;
    background-color: $gin;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;

    @include respond(lg) {
        margin-top: 4rem;
        padding: 3rem;
    }

    &:hover {
        box-shadow: 0 1px 15px $alto, 0 1px 15px $alto;
        transition: all .3s ease;
        cursor: pointer;

        img {
            opacity: 1;
            transition: all .3s ease;
        }
    }

    img {
        margin-bottom: 2rem;
        opacity: 1;

        @media (hover: none) {
            opacity: 1;
        }
    }
}