// REMOVES FOCUS :(
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
}

#top-nav {
    padding: 1rem 0 .5rem 0;
    @include small-side-margin;

    @include respond(lg) {
        padding: 2rem 0 0 0;
    }

    @include respond(xl) {
        @include small-large-margin;
    }

    .navbar-brand {
        color: $observatory;
        font-weight: 700;
        font-family: $font-serif;
        font-size: 2.4rem;
        letter-spacing: -2px;
        padding-right: 1rem;

        @include respond(lg) {
            font-size: 3rem;
        }

        @include respond(xl) {
            font-size: 4rem;
        }

        &.active,
        &:hover {
            color: $observatory;
            transition: all .2s linear;
        }
    }

    .navbar-brand i {
        font-size: 2.4rem;
        margin-right: .5rem;

        @include respond(lg) {
            font-size: 2.7rem;
        }

        @include respond(xl) {
            font-size: 3.2rem;
        }
    }

    .navbar-toggler {
        font-size: 2.2rem;
        margin-top: 3px;
        color: $observatory;

        &.active,
        &:hover {
            transition: all .2s linear;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 1.7rem;
                font-family: $font-sans;
                font-weight: 400;
                padding: 0 1rem;
                margin-top: 1.8rem;
                color: $tundora;

                &.active,
                &:hover {
                    color: $observatory;
                    transition: all .3s linear;
                }
            }
        }
    }
}