*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
}

.container {
    max-width: 1300px;
}

// SELECTION HIGHLIGHTS

::selection {
    background: $gin;
    text-shadow: none;
    color: $dusty-gray;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}