h2 {
    font-family: $font-serif;
    font-size: 2rem;
    color: $tundora;
    font-weight: 400;
    padding-bottom: .5rem;

    @include respond(lg) {
        font-size: 2.5rem;
    }
}

h3 {
    font-family: $font-sans;
    font-size: 1.6rem;
    color: $tundora;
    font-weight: 400;
    display: inline-block;
    margin-top: .5rem;

    @include respond(lg) {
        font-size: 1.8rem;
    }
}

p {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: $font-sans;
    color: $tundora;


    @include respond(lg) {
        font-size: 1.8rem;
    }
}

a {
    color: $tundora;

    &:hover {
        color: $dusty-gray;
        transition: all .3s linear;
        text-decoration: none;
    }
}

hr {
    max-width: 80%;
    color: $dusty-gray;
}