// ------------------------------------
// COLOR VARIABLES
// ------------------------------------
$gin:#E9F3ED;
$observatory:#009068;
$alabaster:#FAFAFA;
$dusty-gray:#979797;
$tundora:#454545;

// -----------------------------------
// FONT VARIABLES
// ------------------------------------
$font-sans:'Nunito Sans',sans-serif;
$font-serif:'PT Serif', serif;
