#section-one {
    padding: 1rem 0 4rem 0;
    text-align: center;

    @include respond(xl) {
        padding: 7rem 0;
        text-align: left;
    }

    img {
        padding: 3rem 0;
        width: 6rem;
        height: auto;

        @include respond(xl) {
            padding: 2rem 5rem;
            float: left;
            width: 16rem;
            height: auto;
        }
    }
}

#section-two {
    background-color: $alabaster;
    border-top: 1px solid $alto;
    border-bottom: 1px solid $alto;
    padding: 4rem 0 5rem;

    img {
        width: 6rem;
        height: auto;
    }

    @include respond(xl) {
        padding: 7rem 0 9rem 0;
    }
}

#section-three {
    padding: 4rem 0;

    img {
        margin: 3rem 0 5rem 0;
    }

    @include respond(xl) {
        padding: 10rem 0;

        img {
            margin: 0;
        }
    }
}

#section-four {
    padding: 4rem 0;

    img {
        margin: 0 0 5rem 0;
    }

    @include respond(xl) {
        padding: 10rem 0;

        img {
            margin: 0;
        }
    }
}

footer {
    padding: 2rem 0 3rem 0;
    text-align: center;
    background-color: $alabaster;
    border-top: 1px solid $alto;

    @include respond(md) {
        text-align: left;
        padding: 5rem 0 3rem 0;
    }

    @include respond(xl) {
        padding: 7rem 0;
        text-align: left;
    }

    h2:nth-child(1) {
        margin: 5rem 0 0 0;

        @include respond(md) {
            margin: .5rem 0 0 0;
        }
    }

    img {
        padding: 3rem 0;
        width: 10rem;
        height: auto;

        @include respond(md) {
            float: left;
            padding: 1rem 2rem;
        }

        @include respond(xl) {
            padding: 1rem 5rem;
            width: 16rem;
        }
    }

}