header.hero {
    background-color: $gin;
    border-radius: 1rem;
    padding: 5rem;
    text-align: center;
    @include small-side-margin;

    @include respond(md) {
        text-align: left;
        padding: 12rem 0 7rem 3rem;
    }

    @include respond(xl) {
        padding: 10rem 0 7rem 3rem;
        @include small-large-margin;
    }

    .hero-textbox {
        padding-bottom: 1rem;

        @include respond(md) {
            padding-bottom: 6rem;
        }

        @include respond(lg) {
            padding-bottom: 10rem;
        }

        @include respond(xl) {
            padding-bottom: 12rem;
        }

        .hero-heading {
            font-family: $font-serif;
            color: $tundora;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2rem;

            @include respond(md) {
                font-size: 3rem;

            }

            @include respond(xl) {
                font-size: 3.6rem;
                line-height: 3rem;
            }
        }

        .hero-lead {
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 400;
            font-family: $font-sans;
            color: $tundora;
            padding: 1.5rem 0 1rem 0;

            @include respond(lg) {
                font-size: 2rem;
                font-size: 1.8rem;
            }
        }
    }

    img {
        width: auto;
        margin-bottom: 2rem;
        text-align: center;
        height: 20rem;
        // margin-left: -2rem;

        @include respond(md) {
            height: 28rem;
            margin-left: -5rem;
            margin-bottom: -7rem;
        }

        @include respond(lg) {
            height: 35rem;
            margin-left: -4rem;
        }

        @include respond(xl) {
            height: 40rem;
        }

        @include respond(xl-plus) {
            height: 50rem;
        }

    }
}